<div class="detail-view">

    <div class="thumbnail-container">

        <img src="">

        <button class="back" ui-sref="schools-view"></button>

    </div>

    <div class="detail-info">

        <div class="title">

            <div class="left">

                <p class="topic">Design</p>

                <h1 class="title">HTL Rennweg</h1>

            </div>

            <div class="right">

                <div class="buttons">

                    <button class="addToFavorite">+</button>
                    <button class="share">Lesgo</button>

                </div>


            </div>

        </div>

        <div class="infos">

            <div class="attributes">

                <p class="attribute"></p>
                <p class="attribute"></p>
                <p class="attribute"></p>

            </div>

            <div>

                <h2 class="description-title"></h2>

                <p class="description"></p>

            </div>

        </div>

    </div>

    <div class="map">

        <iframe></iframe>

    </div>

</div>