<div class="detail-view">

    <div class="thumbnail-container" ng-style="{'background-color': $ctrl.school.specialisations[0].hsl}">

        <button class="roundbtn back" ui-sref="schools-view">
            <i class="fas fa-angle-left"></i>
        </button>

        <i ng-class="'icon fas fa-' + $ctrl.school.specialisations[0].graphic"></i>

    </div>

    <div class="detail-info">

        <div class="title">

            <div class="left">

                <!--                <p class="topic">{{$ctrl.school.specialisation}}</p>-->
                <div class="specialisationContainer">
                    <h3>{{$ctrl.school.specialisations[0].specialisation}}</h3>
                    <div class="favourite" ng-click="$ctrl.toggleFavorite()">
                        <i class="fas fa-heart" ng-show="$ctrl.school.favorite"></i>
                        <i class="far fa-heart" ng-hide="$ctrl.school.favorite"></i>
                    </div>
                </div>
                <h1 class="title">{{$ctrl.school.name}}</h1>

            </div>

            <div class="right">

                <div class="buttons">
                    <a class="shareButton" id="facebook" href="https://www.facebook.com/login.php?skip_api_login=1&api_key=140586622674265&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv3.0%2Fdialog%2Fshare%3Fredirect_uri%3Dhttp%253A%252F%252Fs7.addthis.com%252Fstatic%252Fthankyou.html%26display%3Dpopup%26href%3Dhttp%253A%252F%252Flocalhost%252Fschooler%252Fapp%252Findex.html%2523%2521%252Fdetail-view%253Fid%253D107%26client_id%3D140586622674265%26ret%3Dlogin&cancel_url=https%3A%2F%2Fs7.addthis.com%2Fstatic%2Fthankyou.html%3Ferror_code%3D4201%26error_message%3DUser%2Bcanceled%2Bthe%2BDialog%2Bflow%23_%3D_&display=popup&locale=de_DE">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="shareButton" id="twitter" href="https://twitter.com/intent/tweet?text=Schooler&url=http%3A%2F%2Flocalhost%3A60040%2Fschooler%2Fapp%2Findex.html%3F_ijt%3Ddfaaklul6qpaskdha83f5o7u0o%23%21%2Fdetail-view%3Fid%3D76&related=">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="shareButton" id="whatsapp" href="https://api.whatsapp.com/send?text=Schooler%20http%3A%2F%2Flocalhost%2Fschooler%2Fapp%2Findex.html%23%21%2Fdetail-view%3Fid%3D107">
                        <i class="fab fa-whatsapp" roundbtn plus></i>
                    </a>


                </div>


            </div>

        </div>

        <div class="info-container">
            <div class="infos">
                <h3>Informationen</h3>
                <div class="attributes">
                    <div class="attribute">
                        <i class="fas fa-school">
                            <md-tooltip>Schulform</md-tooltip>
                        </i>
                        <p class="attributeText">{{$ctrl.school.schoolform}}</p>
                    </div>

                    <div class="attribute">
                        <i class="fas fa-map-marker-alt">
                            <md-tooltip>Adresse</md-tooltip>
                        </i>
                        <p class="attributeText">{{$ctrl.school.street}} {{$ctrl.school.housenumber}},
                            {{$ctrl.school.zip}} {{$ctrl.school.city}}</p>
                    </div>

                    <div class="attribute">
                        <i class="fas fa-info">
                            <md-tooltip>Website</md-tooltip>
                        </i>
                        <a target="_blank" href="//{{$ctrl.school.website}}" class="attributeText">{{$ctrl.school.website}}</a>
                    </div>

                    <div class="attribute">
                        <i class="fas fa-at">
                            <md-tooltip>Kontakt</md-tooltip>
                        </i>
                        <a href="mailto:{{$ctrl.school.email}}" class="attributeText">{{$ctrl.school.email}}</a>
                    </div>

                    <div class="attribute">
                        <i class="fas fa-user-graduate">
                            <md-tooltip>Abschluss</md-tooltip>
                        </i>
                        <p class="attributeText">{{$ctrl.school.graduation}}</p>
                    </div>

                    <div class="attribute">
                        <i class="fas fa-key">
                            <md-tooltip>Privat oder Öffentlich</md-tooltip>
                        </i>
                        <p class="attributeText">{{$ctrl.school.private ? "Privat" : "Öffentlich"}}</p>
                    </div>

                </div>

                <div>

                    <h2 class="description-title"></h2>

                    <p class="description"></p>

                </div>

            </div>
            <div class="specialisations">
                <h3>Spezialisierungen</h3>
                <div class="specialisation" ng-repeat="specialisation in $ctrl.school.specialisations">
                    <i ng-class="'icon fas fa-' + specialisation.graphic"></i>
                    <div>{{specialisation.specialisation}}</div>
                </div>
            </div>
            <div id="map"></div>
        </div>

    </div>

    <div id="favorite-alert" class="alert">

        <p>Zu Favoriten hinzugefügt</p>

    </div>

    <div id="disable-favorite-alert" class="alert">

        <p>Von Favoriten entfernt</p>

    </div>

</div>
