<div class="detail-view">

    <div class="thumbnail-container">

        <img src="">

        <button class="roundbtn back" ui-sref="schools-view">
            <i class="fas fa-angle-left"></i>
        </button>

    </div>

    <div class="detail-info">

        <div class="title">

            <div class="left">

                <!--                <p class="topic">{{$ctrl.school.specialisation}}</p>-->

                <h3>Design</h3>
                <h1 class="title">{{$ctrl.school.name}}</h1>

            </div>

            <div class="right">

                <div class="buttons">

                    <!--button class="roundbtn plus">
                        <i class="fas fa-plus"></i>
                    </button-->

                    <div class="addthis_inline_share_toolbox"></div>

                </div>


            </div>

        </div>

        <div class="infos">

            <div class="attributes">
                <div class="attribute">
                    <i class="fas fa-school"></i>
                    <p class="attributeText">{{$ctrl.school.schoolform}}</p>
                </div>

                <div class="attribute">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="attributeText">{{$ctrl.school.street}} {{$ctrl.school.housenumber}}, {{$ctrl.school.zip}} {{$ctrl.school.city}}</p>
                </div>

                <div class="attribute">
                    <i class="fas fa-info"></i>
                    <p class="attributeText">{{$ctrl.school.website}}</p>
                </div>

                <div class="attribute">
                    <i class="fas fa-at"></i>
                    <p class="attributeText">{{$ctrl.school.email}}</p>
                </div>

                <div class="attribute">
                    <i class="fas fa-user-graduate"></i>
                    <p class="attributeText">{{$ctrl.school.graduation}}</p>
                </div>

                <div class="attribute">
                    <i class="fas fa-key"></i>
                    <p class="attributeText">{{$ctrl.school.privat ? "Privat" : "Öffentlich"}}</p>
                </div>

            </div>

            <div>

                <h2 class="description-title"></h2>

                <p class="description"></p>

            </div>

        </div>

    </div>

    <div id="map"></div>

</div>
