<p>Impressum</p>

<div id="impressum" class="content">
    <p><strong>Schooler</strong><br> Rennweg 89b<br> 1030 Wien</p>
    <p>E-Mail: contact@schooler.at</p>
    <p>&nbsp;</p>
    <p>Haftungsausschluss</p>
    <p>Der Webauftritt von Schooler verfolgt das Ziel, dem Nutzer bei der Suche nach der richtigen, weiterführenden Schule zu helfen.</p>
    <p>Sollten Sie auf jegliche Fehler oder Irrtümer auf der Seite stoßen, so bitten wir Sie, uns darüber zu informieren, damit diese von uns so rasch wie möglich berichtigt werden können.</p>
    <p>&nbsp;</p>
    <p>Inhalt des Onlineangebots</p>
    <p>Die Autoren übernehmen keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit
        oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen die Autoren, welche sich auf
        Schäden
        materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen
        bzw.
        durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich
        ausgeschlossen, sofern seitens der Autoren kein nachweislich vorsätzliches oder grob fahrlässiges
        Verschulden vorliegt.</p>
    <p>&nbsp;</p>
    <p>Urheberrecht</p>
    <p>Die Autoren sind bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken und Texte zu
        beachten,
        von ihnen selbst erstellte Grafiken und Texte zu nutzen oder auf lizenzfreie Grafiken und Texte zurückzugreifen.
        Sollte sich auf den jeweiligen Seiten dennoch eine ungekennzeichnete, aber durch fremdes Copyright geschützte
        Grafik oder Text befinden, so konnte das Copyright vom Autor nicht festgestellt werden. Im Falle einer solchen
        unbeabsichtigten Copyrightverletzung wird das entsprechende Objekt nach Benachrichtigung entfernt bzw. mit dem
        entsprechenden Copyright kenntlich machen. Das Copyright für veröffentlichte, von den Autoren selbst
        erstellte Objekte bleibt allein beim jeweiligen Autor. Eine Vervielfältigung oder Verwendung solcher
        Grafiken
        oder Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des
        jeweiligen Autors nicht gestattet.</p>
</div>