<div class="landing-page">

    <div class="navbar">
        <a ui-sref="landing-page" class="logo">
            <img src="./resources/images/icon_font_black.svg" alt="schooler logo">
        </a>
        <a class="burger" href="#"><span></span></a>
        <ul id="burger-ul">
            <li><a href="#">home</a></li>
            <li><a href="#info">info</a></li>
            <li ui-sref="imprint">impressum</li>
            <li ui-sref="contact">kontakt</li>
        </ul>
    </div>

    <div class="content" id="content">

        <div class="landing-first">

            <div class="landing-info" layout="column">

                <h1>Finde deine nächste Schule</h1>

                <p>Damit du nicht im Schulchaos
                    versinkst, suchen wir die beste
                    Schule für dich.</p>

                <input type="button" ui-sref="schools-view" value="LOS"></input>


            </div>


            <img id="professor_without_board" src="./resources/images/professor_without_board.svg"
                 alt="professor without board illustraion">
            <img id="professor_with_board" src="./resources/images/professor_with_board.png"
            alt="professor with board illustraion">
            <img id="blue_corner" src="./resources/images/blue_corner.svg" alt="blue corner illustration">
            <img id="blue_corner_desktop" src="./resources/images/blue_corner_desktop.svg" alt="blue corner illustration">

        </div>

        <div class="landing-second">

            <div>

                <h2>Was ist schooler?</h2>

                <p>Schooler ist eine Web-Applikation, welche den User bei der Suche nach der idealen Schule unterstützt.
                    Schoolers Zielgruppe sind vor allem Eltern, aber auch Schüler aus Unterstufen. Auf der Website kann
                    der User mittels verschiedener Filter eine Schule finden, welche möglichst genau zu den
                    Suchkriterien passt. Durch Schooler wird der Prozess der Suche deutlich verkürzt und vereinfacht.
                    Besonders intuitives Design steht hierbei im Vordergrund. Die kinderleichte Navigation ermöglicht
                    es, ohne großen Aufwand große Ergebnisse zu erzielen. Nach der Eingabe werden dem User multiple
                    Einträge mit Schulen und deren Kurzinformationen ausgegeben, um ein schnelles Vergleichen zu
                    ermöglichen. <br><br>
                    Im Gegensatz zu den derzeit vorhandenen Konkurrenten, trumpft Schooler mit einem einzigartigen und
                    ansprechenden Design. Außerdem liefert Schooler zuverlässige, aktuelle und ausgiebige Informationen
                    zu jeder Schule in Wien.</p>

            </div>

        </div>

        <footer>
            <p>Ein Projekt der HTL Rennweg.</p>
            <a ui-sref="imprint">Impressum</a>
            <a ui-sref="contact">Kontakt</a>
        </footer>

    </div>

</div>