<div class="landing-page">

    <div class="navbar">

        <img src="">

    </div>

    <div class="content">

        <div class="first">

            <div class="left">

                <img src="">

            </div>

            <div class="right">

                <div layout="column">

                    <h1>Finde deine nächste Schule</h1>

                    <form layout="row">

                        <input type="text" placeholder="Dein Standort"/>
                        <button ui-sref="schools-view">LOS</button>

                    </form>

                </div>

            </div>

        </div>

        <div class="derRest">

            ...

        </div>

    </div>

</div>