<div class="schools-view">

    <div class="navbar">
        <a ui-sref="landing-page" class="logo">
            <img src="./resources/images/icon_font.svg">
        </a>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="sidebar">
        <div class="fixed-container">
            <div class="logo-container">

                <img src="" class="logo">
    
            </div>
    
            <div class="filter-container">
    
                <div>
    
                    <p class="filter-title">Schwerpunkte</p>

                    
                    <input type="text" class="tag-search" placeholder="Suche">
                    
                    <div class="tag-container" ng-controller="SchoolsViewController">
                        <div class="tag" ng-bind="tag" ng-repeat="tag in $ctrl.tags" ng-click="$ctrl.selectTag($index)">
                        </div>
                    </div>

                    <p class="filter-title" ng-show="$ctrl.tagSelected" ng-model="$ctrl.tagSelected">Ausgewählt</p>
                    
                    <div class="selected-tag-container">
                        <div class="selectedTag" ng-bind="tag" ng-repeat="tag in $ctrl.selectedTags" ng-click="$ctrl.deselectTag($index)">
                        </div>
                    </div>
    
                </div>
    
                <div>
    
                    <p class="filter-title">Bundesland</p>


                    <div class="button-container">
                        <button class="selection-button selected">Wien</button>
                        <button class="selection-button">Niederösterreich</button>
                    </div>
                    
                    
    
                </div>
    
                <div>
    
                    <p class="filter-title">Schultyp</p>

                    <div class="button-container">
                        <button class="selection-button">Öffentlich</button>
                        <button class="selection-button">Privat</button>
                    </div>
    
                </div>
    
                <div>
    
                    <p class="filter-title">Abschluss</p>

                    <div class="button-container">
                        <button class="selection-button">Matura</button>
                        <button class="selection-button">Hauptschule</button>
                        <button class="selection-button">Ingenieur</button>
                    </div>
    
                </div>
    
            </div>
        </div>

        

    </div>

    <div class="content">

        <div class="top-bar">

            <div>

                <input type="text" placeholder="Schule suchen" ng-model="$ctrl.input" ng-model-options="{debounce: 300}" ng-change="$ctrl.search()">

            </div>

            <div>

                <select class="filter-select" ng-model="$ctrl.select" ng-change="$ctrl.sortList()">

                    <option value="name" selected>Alphabetisch</option>
                    <option value="city">Ort</option>
                    <option value="typ">Typ</option>
                    <!--    TODO: Array zu Attribut abändern    -->
                    <option value="4">Schwerpunkt</option>

                </select>

            </div>

            <div>

                <button class="toggle-list" ng-click="$ctrl.applyFilter()">
                    Test
                </button>

            </div>

        </div>

        <div class="school-list">
            {{$ctrl.list.length}}
            <school ng-repeat="school in $ctrl.list" school="school"></school>

        </div>

    </div>

</div>