<div class="schools-view">

    <div class="navbar">
        <a ui-sref="landing-page" class="logo">
            <img src="./resources/images/icon_font.svg" alt="schooler logo">
        </a>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="sidebar">
        <div class="fixed-container">
            <div class="logo-container">

                <img src="./resources/images/icon_font.svg" class="logo" alt="schooler logo">
    
            </div>
    
            <div class="filter-container">
    
                <div>
    
                    <p class="filter-title">Schwerpunkte</p>

                    <div class="tag-search">
                        <i class="fas fa-search"></i>
                        <input type="text" ng-model="$ctrl.tagInput" placeholder="Suche"> 
                    </div>
                    

                    
                    <div class="tag-container" ng-controller="SchoolsViewController">
                        <div class="tag noselect" ng-bind="tag" ng-show="$ctrl.showTag(tag)" ng-repeat="tag in $ctrl.tags" ng-click="$ctrl.selectTag($index)">
                        </div>
                    </div>

                    <p ng-show="$ctrl.tagSelected" ng-model="$ctrl.tagSelected">Ausgewählt</p>
                    
                    <div class="selected-tag-container">
                        <div class="selectedTag noselect"  ng-repeat="tag in $ctrl.selectedTags" ng-click="$ctrl.deselectTag($index)">
                                {{tag}}  <i class="fas fa-times"></i>
                        </div>
                    </div>
    
                </div>
    
                <div>
    
                    <p class="filter-title">Bundesland</p>


                    <div class="button-container">
                        <button class="selection-button" ng-click="$ctrl.change(0)" ng-class="{true: 'selected', false: ''}[$ctrl.control[0] == true]">Wien</button>
                        <button class="selection-button" ng-click="$ctrl.change(1)" ng-class="{true: 'selected', false: ''}[$ctrl.control[1] == true]">Niederösterreich</button>
                    </div>
                    
                    
    
                </div>
    
                <div>
    
                    <p class="filter-title">Schultyp</p>

                    <div class="button-container">
                        <button class="selection-button" ng-click="$ctrl.change(2)" ng-class="{true: 'selected', false: ''}[$ctrl.control[2] == true]">Öffentlich</button>
                        <button class="selection-button" ng-click="$ctrl.change(3)" ng-class="{true: 'selected', false: ''}[$ctrl.control[3] == true]">Privat</button>
                    </div>
    
                </div>
    
                <div>
    
                    <p class="filter-title">Abschluss</p>

                    <div class="button-container">
                        <button class="selection-button" ng-click="$ctrl.change(4); $ctrl.applyFilters()" ng-class="{true: 'selected', false: ''}[$ctrl.control[4] == true]">Matura</button>
                        <button class="selection-button" ng-click="$ctrl.change(5)" ng-class="{true: 'selected', false: ''}[$ctrl.control[5] == true]">Hauptschule</button>
                        <button class="selection-button" ng-click="$ctrl.change(6)" ng-class="{true: 'selected', false: ''}[$ctrl.control[6] == true]">Ingenieur</button>
                    </div>
    
                </div>
    
            </div>
        </div>

        

    </div>

    <div class="content">

        <div class="top-bar">

            <div class="search">

                <i class="fas fa-search"></i>
                <input type="text" placeholder="Schule suchen" ng-model="$ctrl.input" ng-model-options="{debounce: 300}" ng-change="$ctrl.search()">

            </div>

            <div>

                <select class="filter-select" ng-model="$ctrl.select" ng-change="$ctrl.sortList()">

                    <option disabled selected value>Sortierung</option>
                    <option selected value="name">Alphabetisch</option>
                    <option value="city">Ort</option>
                    <option value="typ">Typ</option>
                    <!--    TODO: Array zu Attribut abändern    -->
                    <option value="4">Schwerpunkt</option>

                </select>

            </div>

            <div>

                <i class="fas fa-th-list" ng-show="$ctrl.listView" ng-click="$ctrl.changeView()"></i>
                <i class="fas fa-th-large" ng-show="!$ctrl.listView" ng-click="$ctrl.changeView()"></i>

            </div>

        </div>

        <div class="school-list">
            {{$ctrl.list.length}}
            <school ng-repeat="school in $ctrl.list" school="school" view="$ctrl.listView"></school>

        </div>

    </div>

</div>
