<div class="listed-school" ui-sref="detail-view({id: $ctrl.school.id})" ng-class="{true: 'list', false: 'card'}[$ctrl.view == true]">

    <img src="" class="thumbnail">

    <div class="school-info">
        <h3>Design</h3>
        <h1>{{$ctrl.school.name}}</h1>
    </div>
    
    

    <div class="infos">

        <p class="topic"></p>

        <h1 class="title"></h1>

        <div class="attributes">

            <p class="attribute"></p>
            <p class="attribute"></p>
            <p class="attribute"></p>

        </div>

    </div>

    <div class="favourite">
        <i class="far fa-plus-square"></i>
    </div>

</div>
