<div class="schools-view">


    <div class="sidebar">

        <div class="logo-container">

            <img src="" class="logo">

        </div>

        <div class="filter-container">

            <div>

                <p class="filter-title">Schwerpunkte</p>

            </div>

            <div>

                <p class="filter-title">Anreise</p>

            </div>

            <div>

                <p class="filter-title">Schultyp</p>

            </div>

            <div>

                <p class="filter-title">Abschluss</p>

            </div>

        </div>

    </div>

    <div class="content">

        <div class="top-bar">

            <div>

                <input type="text" placeholder="Nach Schule suchen">

            </div>

            <div>

                <select class="filter-select">

                    <option value="1">Alphabetisch</option>
                    <option value="2">Anreise</option>
                    <option value="3">Typ</option>
                    <option value="4">Schwerpunkt</option>

                </select>

            </div>

            <div>

                <button class="toggle-list">Toggle</button>

            </div>

        </div>

        <div class="school-list">

            <school ng-repeat="school in $ctrl.list" school="school"></school>

        </div>

    </div>

</div>