
.schools-view{
    width: 100vw;
    height: 100vh;
    background-color: #E8E8E8;
    font-size: 20px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;

    .navbar{
        width: 100%;
        height: 80px;
        position: fixed;
        background-color: #000021;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo{
                display: inline-block;
                text-decoration: none;
                color: #ffffff;
                padding-left: 25px;
            

            img{
                        height: 80px;
                        display: inline-block;
            }
        }

        .burger{
            height: 24px;
            width: 40px;
            margin: 27px 27px 27px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span{
                width: 40px;
                height: 3px;
                background-color: #ffffff;
                border-radius: 1em;
            }
        }

        
    }

    .sidebar{
        display: none;
    }

    @media(min-width: 576px){
        .top-bar{
            font-size: 1.2em;
        }
    }

    


    .content{
        display: inline-block;
        width: 90%;
        margin: 100px 5% auto 5%; 
        color: #000021;

        .top-bar{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #ffffff;
            border-radius: .5em;


            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: .5em 0 .5em 0;
                height: 30px;
                
                &:nth-child(1){
                        width: 45%;
                        margin-left: .5em;

                        input{
                            border-radius: .3em;
                            border: 2px solid #000021;
                            height: 100%;
                            font-size: .6em;
                            padding-left: 2.5em;
                            font-family: 'Nunito Sans', sans-serif;
                        }
                
                }

                &:nth-child(2){
                        width: 33%;

                        select{
                            height: 100%;
                            border-radius: .3em;
                            border: 2px solid #000021;
                            font-size: .6em;
                            padding-left: .5em;
                            font-family: 'Nunito Sans', sans-serif;
                        }
                }

                &:nth-child(3){
                        width: 30px;
                        margin-right: .5em;

                        button{
                            height: 100%;
                            width: 100%;
                        }
                }
            }

            

        }
    }

    
    @media(min-width: 768px){

        display: table;
        width: 100%;


        .navbar{
            display: none;
        }

        .sidebar{
           display: table-cell;
           background-color: #000021;
           width: 30vw;
           min-width: 380px;
           height: 100%;

           .fixed-container{
               width: 30vw;
               min-width: 380px;
               height: 100%;
               position: fixed;

               .filter-container{
                   margin: 15vh 10% 0 10%;

                   p{
                       color: #ffffff;
                       font-weight: bold;
                       letter-spacing: .1em;
                   }

                   .tag-container{
                       max-height: 100px;
                       overflow-y: scroll;
                      
                            &::-webkit-scrollbar {
                            width: 10px;
                            border-radius: 5px;
                            
                            }

                 
                            &::-webkit-scrollbar-track {
                            background: #263055;
                            border-radius: 5px;
                            }

                            &::-webkit-scrollbar-thumb{
                                background-color: #ffffff;
                                width: 4px;
                                border-radius: 5px;
                            }
                   }

                   .selected-tag-container{
                    height: 80px;
                    max-height: 80px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        width: 10px;
                        border-radius: 5px;
                        
                        }

             
                        &::-webkit-scrollbar-track {
                        background: #263055;
                        border-radius: 5px;
                        }

                        &::-webkit-scrollbar-thumb{
                            background-color: #ffffff;
                            width: 4px;
                            border-radius: 5px;
                        }
                   }


                   .selectedTag{
                    display: inline-block;
                     background-color: #00AEEF;
                     color: #ffffff;
                     margin: 5px 5px 5px 0;
                     padding: 5px;
                     font-size: .8em;
                     border-radius: 3px;
                     cursor: pointer;
                     
                }



                   .tag{
                       display: inline-block;
                        background-color: #ffffff;
                        color: #000021;
                        margin: 5px 5px 5px 0;
                        padding: 5px;
                        font-size: .8em;
                        border-radius: 3px;
                        cursor: pointer;

                        &:hover{
                            background-color: #E8E8E8;
                        }
                        
                   }


                   .button-container{
                       width: 100%;
                       
                       .selection-button{
                            width: 140px;
                            height: 40px;
                            font-size: .6em;
                            background-color: #000021;
                            color: #ffffff;
                            font-family: 'Nunito Sans', sans-serif;
                            letter-spacing: .1em;
                            border: 2px solid #ffffff;
                            border-radius: 5px;
                            margin: 5px 5px 5px 0;
                       }

                       &:focus{
                           outline: 0 !important;
                       }

                       .selected{
                           color: #00AEEF;
                           border: 2px solid #00AEEF;
                       }
                   }
                   
               }
           }

        }

        .content{
            width: auto; 
            display: table-cell;

            .top-bar{
            width: 90%;
            margin: 5% 5% 0 5%;
                div{
                    height: 40px;
                }
                
            }
        }
    }


}







