.schools-view {
  width: 100vw;
  background-color: #E8E8E8;
  font-size: 20px;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}

.schools-view .navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #000021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.schools-view .navbar .logo {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-left: 25px;
}

.schools-view .navbar .logo img {
  height: 80px;
  display: inline-block;
}

.schools-view .navbar .burger {
  height: 24px;
  width: 40px;
  margin: 27px 27px 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.schools-view .navbar .burger span {
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1em;
}

.schools-view .sidebar {
  display: none;
}

@media (min-width: 576px) {
  .schools-view .top-bar {
    font-size: 1.2em;
  }
}

.schools-view .content {
  display: inline-block;
  width: 90%;
  margin: 100px 5% auto 5%;
  color: #000021;
  overflow: hidden;
}

.schools-view .content .school-list {
  margin-top: 1em;
}

.schools-view .content .top-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: .5em;
}

.schools-view .content .top-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5em 0 .5em 0;
}

.schools-view .content .top-bar div:nth-child(1) {
  width: 45%;
  margin-left: .5em;
  border: 2px solid #000021;
  border-radius: .3em;
  height: 36px;
}

.schools-view .content .top-bar div:nth-child(1) i {
  position: absolute;
  font-size: .6em;
  margin-left: .8em;
}

.schools-view .content .top-bar div:nth-child(1) input {
  font-size: .6em;
  outline: none;
  border-radius: .3em;
  height: 100%;
  font-size: .6em;
  padding-left: 2.5em;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
}

.schools-view .content .top-bar div:nth-child(1):focus-within {
  border: 2px solid #2C4392;
}

.schools-view .content .top-bar div:nth-child(2) {
  width: 33%;
}

.schools-view .content .top-bar div:nth-child(2) select {
  outline: none;
  height: 100%;
  border-radius: .3em;
  border: 2px solid #000021;
  font-size: .6em;
  padding-left: .5em;
  font-family: 'Nunito Sans', sans-serif;
}

.schools-view .content .top-bar div:nth-child(3) {
  width: 30px;
  margin-right: .5em;
  font-size: 1.2em;
  height: 36px;
}

.schools-view .content .top-bar div:nth-child(3) i {
  cursor: pointer;
}

.schools-view .noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 992px) {
  .schools-view {
    display: table;
    width: 100%;
  }
  .schools-view .navbar {
    display: none;
  }
  .schools-view .sidebar {
    display: table-cell;
    background-color: #000021;
    width: 30vw;
    min-width: 380px;
    height: 100%;
  }
  .schools-view .sidebar .fixed-container {
    width: 30vw;
    min-width: 380px;
    height: 100%;
    position: fixed;
  }
  .schools-view .sidebar .fixed-container .logo-container {
    margin: 0 10% 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .schools-view .sidebar .fixed-container .logo-container .logo {
    width: 70%;
  }
  .schools-view .sidebar .fixed-container .filter-container {
    margin: 5% 10% 0 10%;
  }
  .schools-view .sidebar .fixed-container .filter-container p {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: .1em;
  }
  .schools-view .sidebar .fixed-container .filter-container textarea:focus, .schools-view .sidebar .fixed-container .filter-container input:focus {
    outline: none;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-search {
    border: 2px solid #fff;
    color: #ffffff;
    position: relative;
    width: 50%;
    height: 1.5em;
    padding: 0;
    border-radius: 8px;
    margin-bottom: .5em;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-search input {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: calc(100% - 40px);
    height: calc(100% - 2px);
    border-radius: 8px;
    color: #ffffff;
    background-color: #000021;
    font-size: .8em;
    z-index: 1;
    padding-left: 40px;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-search i {
    z-index: 3;
    position: absolute;
    margin: 7px 0 7px 9px;
    font-size: .8em;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-search:focus-within {
    border: 2px solid #00AEEF;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-container {
    max-height: 100px;
    overflow-y: scroll;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-container::-webkit-scrollbar-track {
    background: #263055;
    border-radius: 5px;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag-container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    width: 4px;
    border-radius: 5px;
  }
  .schools-view .sidebar .fixed-container .filter-container .selected-tag-container {
    height: 80px;
    max-height: 80px;
    overflow-y: auto;
  }
  .schools-view .sidebar .fixed-container .filter-container .selected-tag-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  .schools-view .sidebar .fixed-container .filter-container .selected-tag-container::-webkit-scrollbar-track {
    background: #263055;
    border-radius: 5px;
  }
  .schools-view .sidebar .fixed-container .filter-container .selected-tag-container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    width: 4px;
    border-radius: 5px;
  }
  .schools-view .sidebar .fixed-container .filter-container .selectedTag {
    display: inline-block;
    background-color: #00AEEF;
    color: #000021;
    margin: 5px 5px 5px 0;
    padding: 5px;
    font-size: .8em;
    border-radius: 3px;
    cursor: pointer;
  }
  .schools-view .sidebar .fixed-container .filter-container .selectedTag i {
    margin: .1em .2em 0 .2em;
  }
  .schools-view .sidebar .fixed-container .filter-container .selectedTag:hover {
    color: #ffffff;
  }
  .schools-view .sidebar .fixed-container .filter-container .selectedTag:hover i {
    color: #ffffff;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag {
    display: inline-block;
    background-color: #ffffff;
    color: #000021;
    margin: 5px 5px 5px 0;
    padding: 5px;
    font-size: .8em;
    border-radius: 3px;
    cursor: pointer;
  }
  .schools-view .sidebar .fixed-container .filter-container .tag:hover {
    background-color: #E8E8E8;
  }
  .schools-view .sidebar .fixed-container .filter-container .button-container {
    width: 100%;
  }
  .schools-view .sidebar .fixed-container .filter-container .button-container .selection-button {
    width: 140px;
    height: 40px;
    font-size: .6em;
    background-color: #000021;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .1em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    outline: none;
  }
  .schools-view .sidebar .fixed-container .filter-container .button-container .selected {
    color: #00AEEF;
    border: 2px solid #00AEEF;
  }
  .schools-view .content {
    width: auto;
    display: table-cell;
  }
  .schools-view .content .top-bar {
    width: 90%;
    margin: 5% 5% 0 5%;
  }
  .schools-view .content .top-bar div {
    height: 40px;
  }
}

.list {
  position: relative;
  width: 100%;
  margin: 0 0 2em 0;
  background-color: #ffffff;
  border-radius: 1em;
  padding: 1em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
  overflow: hidden;
  font-size: .5em;
}

.list .type-icon {
  position: absolute;
  margin-left: 8%;
}

.list .type-icon i {
  font-size: 4em;
}

.list .favourite {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}

.list .favourite i {
  margin: .5em .5em 0 0;
  cursor: pointer;
}

.list .infos {
  display: none;
}

.list .school-info {
  margin: 1em 1em 1em 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list h1 {
  font-weight: normal;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.list h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  color: #2D388A;
  margin: 0;
}

.detail-view {
  height: 100vh;
  width: 100vw;
}
.detail-view h1 {
  font-weight: normal;
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  margin: 0;
}
.detail-view h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  color: #2D388A;
  font-size: 25px;
  margin: 0;
}
.detail-view .thumbnail-container {
  height: 33%;
  width: 100%;
  background-color: #000021;
}
.detail-view .detail-info {
  margin: 2% 5% 0 5%;
}
.detail-view .detail-info .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-view .detail-info .title .left {
  flex-direction: column;
}
.detail-view .detail-info .title .right .buttons .roundbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px #000021 solid;
  color: #000021;
  font-size: 1.5em;
}
.detail-view .detail-info .title .right .buttons .roundbtn:focus {
  outline: none;
}
.detail-view .map {
  width: 50%;
  height: 50%;
}


@media (min-width: 992px) {
  .list {
    font-size: 1em;
    min-height: 180px;
    width: 90%;
    margin: 0 5% 2em 5%;
  }
  .list .school-info {
    margin: 1em 1em 1em 25%;
  }
  .list .favourite {
    font-size: 1.6em;
  }
}
/*# sourceMappingURL=app.css.map */
